<% provide(:title, 'show') %>
<div class="row">
  <aside class="col-md-4">
    <section class="">
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Microposts</h3>
    <ol class="microposts">
      <%= render @microposts_sorted %>
    </ol>
  </div>
</div>
